*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/img_centre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Indie Flower', cursive;
}

article {
    text-align: center;
    height: 450px;
    width: 100vw;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover{
    transform: scale(1.3);
}
input {
    color: #fff;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.048);
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 24px "Margarine", sans-serif;
    transition: 0.4s ease-in-out;
    letter-spacing: 2px;
}


.nav{
    animation: fadein 3s;
    background-color: rgba(0, 0, 0, 0.048);
    color: white;
}
.centre {
    animation: fadein 4s;
}
h1{
    color: rgb(185, 23, 23);
    text-shadow: 1px 2px 15px white;
}
#bouton_centr:hover {
    transform: scale(1.3);
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}